body {
    background-color: black;
    color: white;
}
@media screen and (max-width:600px) {
    .container {
        background-color: violet;
        color: black;
        border-color: blanchedalmond;
    }
}

    #di {
        border: 40px pink groove;
        margin: auto;
        width: 50%;
    }
    @media screen and (max-width:600px) {
        #di {
            border: 10px lightblue dashed;
        }
    }
    @media  screen and (max-width:600px) {
        #di {
            width: 100%;
            height: 100%;
            
        }
        
    }
        h1 {
            text-align: center;
        }
        @media  screen and (max-width:600px) {
            #hh {
                width: 100%;
                height: 100%;
                
            }
        }
        @media  screen and (max-width:600px) {
            #faren {
                width: 100%;
            font-family: sans-serif;
                
            }
        }
        @media  screen and (orientation:landscape) {
            #hh {
                width: 100%;
                height: 100%;
                
            }
        }
        
    
